:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: rgb(0, 0, 0);
  --red: #ff0000;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--black);
  color: var(--white);
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background: var(--red);
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}
.header-text span {
  color: var(--red);
}

/* about  */

#about {
  padding: 80px 0;
  color: #ababaa;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  width: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15%;
}
.about-col-2 {
  flex-basis: 50%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--white);
}
.tabs-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tabs-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.tabs-links::after {
  content: "";
  width: 0s;
  height: 3px;
  background-color: var(--red);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tabs-links.active-link::after {
  width: 50%;
}
.tabs-contents ul li {
  list-style: none;
  margin: 20px 0;
}
.tabs-contents li span {
  color: var(--red);
}
.tabs-contents {
  display: none;
}
.tabs-contents.active-tab {
  display: block;
}

/* ____________services __________ */
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}

/*______________________ portfolio __________________________*/
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.work img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.5s;
}
.layer {
  height: 0;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  border: 1px solid yellow;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer p {
  font-size: 14px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  font-size: 18px;
  line-height: 60px;
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  text-align: center;
}
.layer:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

/* _____________contact__________ */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 20px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababaa;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn {
  margin: 30px 0px;
  padding: 14px 40px;
  background-color: #ff004f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.contact-right form {
  width: 100%;
}
form input,
textarea {
  width: 100%;
  outline: none;
  border: 0;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.copyright i {
  color: #ff004f;
}
